<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configure iisnode to handle the requests -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude node_modules directory and package.json from being served -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="node_modules" />
          <add segment="node_modules" />
          <remove segment="package.json" />
          <add segment="package.json" />
          <remove segment=".env" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Configure iisnode options -->
    <iisnode 
      node_env="production"
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>
